body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

#title {
  background-color: #eaf6f6;
  color: #000;
}

.jobdesk {
  text-align: left;
  line-height: 2;

}


h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem; /*16px = 100% = 1 em. jadi jika 90pixel= 90/16 = 5.625 em  */
  /* root em tdk berpengaruh dengan parent jadi akan tetap*/
margin: 50px auto 0 auto; /*top right bottom left */
}


h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;/*40/16 */
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}


hr {

    border-style: none;
    border-top-style: dotted;
    border-color: #eaf6f6;
    border-width: 6px;
    width: 5%;
    margin: 100px auto 100px auto;
}


p{
  line-height: 2;
}


.gambar-profile {
  margin: 20px 0 20px 0;
  width: 150px;
  height: 150px;
}

.mountain {
  width: 40%;
}

.skill-row {
  width: 50%;
  margin: 150px auto 150px auto;
  text-align: left;

}


.middle1-container {
  width: 70%;
  margin: 0 auto 0 auto;
  text-align: center;

}

.intro-myself {
  text-align: center;
  margin: 20px auto 0 auto;

}



.gambar-development {
  width: 180px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

.gambar-database {
  width: 180px;
  height: 150px;
  float: right;
  margin-left: 30px;
}

.gambar-design{
  width: 180px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

/*
.gambar-design{
  width: 25%;
  float: left;
  margin-right: 30px;
} */

.gambar-udinus {
  width: 150px;
  height: 150px;
  margin: 50px auto 50px auto;
}

.gambar-indomaret {
  margin: 50px auto 50px auto;
  width: 150px;
  height: 150px;
}

.local-guide {
  width: 150px;
  height: 150px;
  margin: 50px auto 50px auto;
}

.udemy {
  width: 150px;
  height: 150px;
  margin: 50px auto 50px auto;
}

.gambar-education {
  margin: 50px auto 50px auto;
  width: 150px;
  height: 150px;
}


#perkenalan {
padding: 3% 15%;
}

#experience {
padding: 0 15%;
}

.middle3-container{
  text-align: center;
  padding: 5%;
}


#certificate {
padding: 0 15%;
}

.middle6-container{
  text-align: center;
  padding: 5%;
}

/*
#organisasi {
padding: 0 15%;

} */

.organisasi-gambar{
  margin: 50px auto 50px auto;
  width: 150px;
  height: 150px;
}



@media (max-width: 1200px){
  .organisasi-gambar{margin: 0;
  width: 150px;
  height: 150px;

  }
}


.bottom-container {
      background-color: #eaf6f6;
  padding: 50px 0 20px;

}


.footer-link{
  color: #11999E;
}

.copyright{
  color: black;
  font-size: 0.75rem;
  margin: 20px 0 20px 0;
}

.middle7-container{
    width: 40%;
    margin: 40px auto 60px;
}


a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;

}
